@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: antiquewhite;
}

.scrollbar-none {
  -ms-overflow-style: none !important;
  /* Internet Explorer 10+ */
  scrollbar-width: none !important;
  /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none !important;
  /* Safari and Chrome */
}
